/* Screen size greater than 1000 px */
@media only screen and (min-width: 1000px) {
  /* Main Styling */
  .main {
    margin: 0;
    position: absolute;
    width: 970px;
    left: 50%;
    margin-left: -485px;
  }
  /* Note Title area */
  .note-title {
    min-height: 40px;
    max-height: 40px;
    overflow-y: auto;
  }
  /* Note Styling */
  .note-style {
    float: left;
    width: 445px;
    margin-left: 11px;
  }
  /* Note Context area */
  .note-context {
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
  }
  /* Area where Title Is */
  .title-container {
    background-image: url("/hci-team14/stickynote.png");
  }
  /* Title Text */
  .title-text-3 {
    font-size: 20px;
    display: block;
  }
}
