body {
  background-color: rgb(241, 241, 241);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

textarea {
  width: 99%;
  height: 99%;
}

/* Main Styling */
.main {
  margin: 0 5% 10% 5%;
}

.box {
  position: relative;
  left: 50%;
  width: 300px;
  height: 400px;
  margin-top: 30px;
  margin-left: -152px;
  border: 1.5px solid #dedede;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}
