/* Area where notes will be loaded */
.load-notes {
  min-height: 500px;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

/* Area where notes will be created */
.create-note {
  border: 1px solid #dedede;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Area where review settings are */
.review-notes {
  border: 1px solid #dedede;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}

/* Note Styling */
.note-style {
  border: 1px solid #dedede;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  white-space: pre-line;
  white-space: pre-wrap;
}

/* Note Styling */
.update {
  border: 1px solid #dedede;
  border-radius: 10px;
  background-color: rgb(255, 255, 184);
  margin-top: 30px;
  padding: 10px;
}
