/* Area where notes will be created */
.create-note {
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Note Create Title area */
.note-create-title {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

/* Note Create's Create Button */
.note-create-submit {
  padding: 5px;
  width: 25%;
  margin-top: 5px;
  margin-right: 5px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
}
.note-create-submit:hover {
  background-color: #e7e7e7;
}

/* Note Create's Clear All Button */
.note-create-clear {
  padding: 5px;
  width: 25%;
  margin-top: 5px;
  margin-right: 5px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
}
.note-create-clear:hover {
  background-color: #e7e7e7;
}

/* Note Create's Restore All Button */
.note-create-restore {
  padding: 5px;
  width: 25%;
  margin-top: 5px;
  margin-right: 5px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
}
.note-create-clear:hover {
  background-color: #e7e7e7;
}
